<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <title>Weather Data</title>
  </head>
  <body class="weather">
    <h1>Weather Details for <%= data.name %>, <%= data.sys.country %></h1>
    <ul>
      <li>Temperature: <%= data.main.temp %>°F</li>
      <li>Description: <%= data.weather[0].description %></li>
      <li>Humidity: <%= data.main.humidity %>%</li>
      <li>Wind Speed: <%= data.wind.speed %> mph</li>
    </ul>
    <a href="/">Go Back</a>
  </body>
</html>
